.ng-scrolling {
    cursor:default;
}
.ng-scroll-content:focus, .ng-scroll-content:active {
    outline:0;
}
.ng-scroll-content {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    box-sizing:border-box;
}
.ng-scroll-container:hover .ng-scroll-trackY, .ng-scroll-container:hover .ng-scroll-floatY, .ng-scroll-container:hover .ng-scroll-trackX, .ng-scroll-container:hover .ng-scroll-floatX {
    opacity:1;
}
.ng-scroll-trackY, .ng-scroll-trackX {
    position:absolute;
    background:rgba(0, 0, 0, .04);
    cursor:default;
    opacity:0;
    border-radius:10px;
    top:auto;
    box-sizing:border-box;
}
.ng-scroll-trackY {
    right:0;
    height:100%;
    width:7px;
}
.ng-scroll-trackX {
    bottom:0;
    height:7px;
    width:100%;
}
.ng-scroll-floatY, .ng-scroll-floatX {
    position:absolute;
    cursor:default;
    border-radius:10px;
    background:rgba(0, 0, 0, .4);
    opacity:0;
    transition:background 150ms ease-in;
    box-sizing:border-box;
}
.ng-scroll-floatY:hover, .ng-scroll-floatX:hover, .ng-is-scrolling {
    background:#299983;
}
.ng-scroll-floatY {
    top:0;
    height:20%;
    width:100%;
}
.ng-scroll-floatX {
    height:100%;
    width:20%;
}
